

.main-header {
}

.main-nav__items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}


.main-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem 0;
}