@import url('https://fonts.googleapis.com/css?family=Sarabun|Black+Han+Sans|Candal|Wendy+One');


.film {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%
}

.film__description {
    width: 340px;
}

.film__title {
    margin-top: 0;
    text-decoration-line: underline;
}

.chapter__title {
    /* font-family: 'Wendy One', sans-serif; */
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Candal', sans-serif;
}

.chapter__text {
    font-family: 'Sarabun', sans-serif;
}