.film {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%
}

.film__description {
    width: 340px;
}

.film__title {
    margin-top: 0;
    text-decoration-line: underline;
}