

.header {
}

.name {
    display: flex;
    justify-content: space-between;
}

.name h1 {
    margin: 0;
}

.name__socials a {
    color: black;
}

.name__socials a:hover {
    color: yellow;
}

.nav__items {
    margin: 0 0 40px 0 ;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}


.nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem 0;
}


.nav__item a:hover, 
.nav__item a:active,
.nav__item .active {
    background: yellow;
    color: black;
    font-style: normal;
  }

.bar {
    background: black;
    height: 30px;
    margin: 20px 0;
}
